.primary-bg{
    background-color: #2d2585;
}

.primary-text{
    color: #2d2585;
}

.white-text{
    color: white;
}

.white-bg{
    background-color: white;
}

.secondary-bg{
    background-color: #a2a0b97b;
}